

<div class="row" *ngIf="member">
  <div class="col-4">
    <h1>Your profile</h1>
  </div>
  <div class="col-8">
    <div class="alert alert-info" *ngIf="editForm.dirty">
      <strong>Information: </strong> You have made changes. Any unsaved changes will be lost
    </div>
  </div>

  <div class="col-4">
    <div class="card">
      <img class="card-img-top img-thumbnail"
           src="{{member.photoUrl || './assets/user.png'}}" alt="{{member.knownAs}}"/>
      <div class="card-body">
        <div class="d-flex-row">
          <div>
            <strong>Location: </strong>
            <div class="my-3 d-flex flex-column">
              <div class="mb-1">
                <div class="form-floating">
                  <input type="text" class="form-control" id="city" [(ngModel)]="member.city">
                  <label for="city">City</label>
                </div>
              </div>

              <div class="mt-2 mb-1">
                <div class="form-floating">
                  <input type="text" class="form-control" id="country" [(ngModel)]="member.country">
                  <label for="country">Country</label>
                </div>
              </div>
            </div>
          </div>
          <div>
            <strong>Age: </strong>
            <p>{{member.age}}</p>
          </div>
          <div>
            <strong>Member since: </strong>
            <p>{{member.created}}</p>
          </div>
        </div>
      </div>
      <div class="card-footer d-grid">
        <button form="editForm" type="submit" class="btn btn-secondary">Save Changes</button>
      </div>
    </div>
  </div>

  <div class="col-8">
    <tabset class="member-tabset">
      <tab heading="About {{member.knownAs}}">
        <form #editForm="ngForm" id="editForm" (ngSubmit)="updateMember()">
          <div class="form-floating mb-4">
          <textarea class="form-control" placeholder="Leave a comment here" id="introduction"
                    name="introduction" style="height: 100px" [(ngModel)]="member.introduction"></textarea>
            <label for="introduction">Description</label>
          </div>
          <div class="form-floating mb-4">
          <textarea class="form-control" placeholder="Leave a comment here" id="lookingFor"
                    name="lookingFor" style="height: 100px" [(ngModel)]="member.lookingFor"></textarea>
            <label for="lookingFor">Looking For</label>
          </div>
          <div class="form-floating">
          <textarea class="form-control" placeholder="Leave a comment here" id="interests"
                    name="interests" style="height: 100px" [(ngModel)]="member.interests"></textarea>
            <label for="interests">Interest</label>
          </div>
        </form>
      </tab>
      <tab heading="Photos">
<!--          <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>-->
      </tab>
    </tabset>
  </div>

</div>


