
<ng-container>
  <button (click)="get400Error()" class="btn btn-outline-primary me-2">Error 400</button>
  <button (click)="get400ValidationError()" class="btn btn-outline-primary me-2">Error Validation 400</button>
  <button (click)="get401Error()" class="btn btn-outline-primary me-2">Error 401</button>
  <button (click)="get404Error()" class="btn btn-outline-primary me-2">Error 404</button>
  <button (click)="get500Error()" class="btn btn-outline-primary me-2">Error 500</button>

  <div class="row mt-4" *ngIf="validationErrors.length > 0">
     <ul class="text-danger">
       <li *ngFor="let error of validationErrors">{{ error }}</li>
     </ul>
  </div>
</ng-container>
