<nav class="navbar navbar-expand-lg navbar-light bg-white mb-5">
  <div class="container-fluid mx-5">
    <a class="navbar-brand" routerLink="/">Dating App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <ng-container *ngIf="accountService.currentUser$ | async">
          <li class="nav-item">
            <a class="nav-link" routerLink="/members" routerLinkActive="active">
              Matches
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/lists" routerLinkActive="active">
              Lists
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/messages" routerLinkActive="active">
              Messages
            </a>
          </li>
        </ng-container>
        <li class="nav-item">
          <a class="nav-link" routerLink="/errors" routerLinkActive="active">
            Errors
          </a>
        </li>
      </ul>

      <div class="nav-item dropdown" *ngIf="accountService.currentUser$ | async as user">
        <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button"
           data-bs-toggle="dropdown" aria-expanded="false">
          Welcome {{ user.userName | titlecase }}
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a routerLink="/member/edit" class="dropdown-item">Edit Profile</a></li>
          <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
        </ul>
      </div>

      <form class="d-flex mt-3 mt-lg-0" #loginForm="ngForm" (ngSubmit)="login()" autocomplete="off"
            *ngIf="(accountService.currentUser$ | async) === null">
        <input class="form-control me-2" [(ngModel)]="model.username" name="username"
               type="text" placeholder="Username" aria-label="Username">
        <input class="form-control me-2" [(ngModel)]="model.password" name="password"
               type="password" placeholder="Password" aria-label="Password">
        <button class="btn btn-outline-light" type="submit">Login</button>
      </form>
    </div>
  </div>
</nav>
