
<div class="container mt-5">
  <div class="text-center" *ngIf="!registerMode">
    <h1>Find your match</h1>
    <p class="lead">Come on in to view your matches... all you need to do is sing up!</p>
    <button class="btn btn-outline-primary btn-lg me-3" (click)="registerToggle()">Register</button>
    <button class="btn btn-outline-light btn-lg">Learn more</button>
  </div>

  <div class="row justify-content-center" *ngIf="registerMode">
    <div class="col-6">
      <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
    </div>
  </div>
</div>
