
<div class="card mb-4">
  <div class="card-img-wrapper">
    <img src="{{member.photoUrl || './assets/user.png'}}" alt="{{member.knownAs}}" class="card-img-top"/>
    <ul class="list-inline member-icons animate text-center">
      <li class="list-inline-item">
        <span class="text-white bg-primary rounded py-1" routerLink="/members/{{member.username}}">
          <i class="fa fa-user my-3 mx-2"></i>
        </span>
      </li>
      <li class="list-inline-item">
        <span class="text-white bg-primary rounded py-1">
          <i class="fa fa-heart my-3 mx-2"></i>
        </span>
      </li>
      <li class="list-inline-item">
        <span class="text-white bg-primary rounded py-1">
          <i class="fa fa-envelope my-3 mx-2"></i>
        </span>
      </li>
    </ul>
  </div>
  <div class="card-body pb-3 px-3">
    <h6 class="card-title text-center mb-1">
      <i class="fa fa-user me-2"></i> {{member.knownAs}}
    </h6>
    <p class="card-text text-muted text-center">{{member.city}}</p>
  </div>
</div>
