
<form #registerForm="ngForm" (ngSubmit)="register()" autocomplete="off">
  <h2 class="text-center text-white">Sing up</h2>
  <hr>
  <div class="form-floating mb-3">
    <input type="text" class="form-control" name="username" [(ngModel)]="model.username"
           placeholder="Username" id="username">
    <label for="username">Username</label>
  </div>
  <div class="form-floating mb-3">
    <input type="password" class="form-control" name="password" [(ngModel)]="model.password"
           placeholder="Password" id="password">
    <label for="password">Password</label>
  </div>

  <div class="d-flex d-grid gap-2">
    <button class="btn btn-outline-primary col-12 col-md-6" type="submit">Register</button>
    <button class="btn btn-outline-light  col-12 col-md-6" type="submit" (click)="cancel()">Cancel</button>
  </div>
</form>
