
<div class="container">
  <h4>Internal server error - refreshing the page will make the error disappear!</h4>

  <ng-container *ngIf="error">
    <h5 class="text-danger">{{error.message}}</h5>
    <p class="text-dark">Note: If you are seeing this then Angular is probably not to blame</p>
    <p>What do you next?</p>
    <ol class="text-left">
      <li>Open the chrome dev tools</li>
      <li>Inspect the network tab</li>
      <li>Check the failing request</li>
      <li>Examine the request URL - make sure it is correct</li>
      <li>Reproduce the error in postman - If we see the same response, then the issue is not
          with Angular</li>
    </ol>
    <div class="alert alert-dismissible alert-warning">
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      <p>Following is the stack trace - this is where your investigation should start!</p>
      <code class="mt-5 text-danger">{{error.details}}</code>
    </div>
  </ng-container>
</div>

